In [5]:
print("hel")

hel

# 尝试使用jupyter-notebook
- 运行一个单元格 control+enter
- 运行一个单元格并创立一个新的单元格 option+enter
- 运行一个单元格并滑动到下一个单元格 shift+enter

In [7]:
list(map(lambda x: print("Happy Birthday to " + ("you!" if x != 2 else "Your name!")), range(4)))

Happy Birthday to you!
Happy Birthday to you!
Happy Birthday to Your name!
Happy Birthday to you!

[None, None, None, None]

In [9]:
import pandas as pd
import numpy as np
d={'one':pd.Series([1.,2.,3.],index=['a','b','c']),
   'two':pd.Series([1.,2.,3.,4.,],index=['a','b','c','d']),
   'three':range(4),
   'four':1.,
   'five':'f'}

In [10]:
d

{'one': a    1.0
 b    2.0
 c    3.0
 dtype: float64, 'two': a    1.0
 b    2.0
 c    3.0
 d    4.0
 dtype: float64, 'three': range(0, 4), 'four': 1.0, 'five': 'f'}

In [11]:
df=pd.DataFrame(d)

In [12]:
df

   one  two  three  four five
a  1.0  1.0      0   1.0    f
b  2.0  2.0      1   1.0    f
c  3.0  3.0      2   1.0    f
d  NaN  4.0      3   1.0    f

In [29]:
df=pd.read_csv('/Users/weizijian/Downloads/PythonTeaching/new_data.txt',header=None,sep=',',names=["date","confirm","cured","death"])
df

    date  confirm  cured  death
0   1.24     1287     38     41
1   2.10    14380    328    304
2   2.80    33738   2659    811
3   2.15    57416   9419   1665
4   2.22    51606  22888   2442
5   2.29    35329  41625   2870
6   3.70    20533  57065   3079
7   3.14    10734  66911   3199
8   3.21     5549  72244   3261
9   3.28     2691  75448   3300
10  4.40     1376  76964   3329
11  4.11     1138  77575   3339
12  4.18     1041  77062   4632

In [30]:
df2 = pd.DataFrame(df,columns=["confirm"])

In [32]:
df2

    confirm
0      1287
1     14380
2     33738
3     57416
4     51606
5     35329
6     20533
7     10734
8      5549
9      2691
10     1376
11     1138
12     1041